---js
{
  pagination: {
    data: "languages",
    size: 1,
    alias: "currentLang"
  },
  permalink: function(data) {
    return `/${data.currentLang.code}/contributing/`;
  },
  layout: "layouts/base.njk",
  eleventyComputed: {
    lang: (data) => data.currentLang.code,
    dir: (data) => data.currentLang.dir,
    pageTitle: (data) => data.i18n.contributing_title[data.currentLang.code] || "Contributing",
    langPath: "contributing/"
  }
}
---

{{ contributing | md | safe }}
