---
permalink: /
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ '/en/' | url }}">
  <link rel="canonical" href="{{ '/en/' | url }}">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="{{ '/en/' | url }}">English</a>...</p>
</body>
</html>
