---js
{
  pagination: {
    data: "languages",
    size: 1,
    alias: "currentLang"
  },
  permalink: function(data) {
    return `/${data.currentLang.code}/`;
  },
  layout: "layouts/base.njk",
  eleventyComputed: {
    lang: (data) => data.currentLang.code,
    dir: (data) => data.currentLang.dir,
    pageTitle: (data) => data.i18n.all_projects[data.currentLang.code]
  }
}
---

{%- set lang = currentLang.code %}

<p class="mg-u-font-size-600">{{ i18n.site_intro[lang] }}</p>

<p>{{ i18n.site_status[lang] }}</p>

<h2>{{ i18n.all_projects[lang] }}</h2>

{%- for project in projects %}
<div class="term-card">
  <h3><a href="{{ ('/' + lang + '/' + project.slug + '/') | url }}">{{ project.name }}</a></h3>
  <p>{{ project.description }}</p>
  <p class="term-meta">{{ terms | termsForProject(project.slug) | length }} terms</p>
</div>
{%- endfor %}
